#!/bin/bash
# 
# THIS TEMPLATE CONTAINS DUMMY VALUES.
# PLEASE ENSURE ALL VARIABLES ARE SET.
# IF NOT USED (e,g, certs in TEST), SET TO EMPTY STRING
# 

# COMMON SETTINGS
export ML_ADMIN=admin
export ML_PASSWORD=admin
export ML_PROTOCOL=http
export ML_DATABASE=Documents

# LOCAL SETTINGS
export ML_LOCAL_ADMIN=admin
export ML_LOCAL_PASSWORD=admin
export ML_LOCAL_PROTOCOL=http
export ML_LOCAL_HOST=1.2.3.4
export ML_LOCAL_CLUSTER_NAME=local.cluster.name
export ML_LOCAL_CERT_PATH=
export ML_LOCAL_CERT_PASSWORD=

# FOREIGN SETTINGS
export ML_FOREIGN_ADMIN=admin
export ML_FOREIGN_PASSWORD=admin
export ML_FOREIGN_PROTOCOL=http
export ML_FOREIGN_HOST=2.3.4.5
export ML_FOREIGN_CLUSTER_NAME=foreign.cluster.name
export ML_FOREIGN_CERT_PATH=
export ML_FOREIGN_CERT_PASSWORD=

