#!/bin/bash
# 
# THIS TEMPLATE CONTAINS DUMMY VALUES.
# PLEASE ENSURE ALL VARIABLES ARE SET.
# IF NOT USED (e,g, certs in TEST), SET TO EMPTY STRING
# 

# COMMON SETTINGS
export ML_ADMIN=mladmin
export ML_PASSWORD=mladmin
export ML_PROTOCOL=https
export ML_DATABASE=Documents

# LOCAL SETTINGS
export ML_LOCAL_ADMIN=${ML_USERNAME}
export ML_LOCAL_PASSWORD=${ML_PASSWORD}
export ML_LOCAL_PROTOCOL=${ML_PROTOCOL}
export ML_LOCAL_CLUSTER_HOST=10.2.3.4
export ML_LOCAL_CLUSTER_NAME=local.cluster.name
export ML_LOCAL_CERT_PATH=/path/to/cert/local.p12
export ML_LOCAL_CERT_PASSWORD=Abracadabra

# FOREIGN SETTINGS
export ML_FOREIGN_ADMIN=${ML_USERNAME}
export ML_FOREIGN_PASSWORD=${ML_PASSWORD}
export ML_FOREIGN_PROTOCOL=${ML_PROTOCOL}
export ML_FOREIGN_CLUSTER_HOST=10.3.4.5
export ML_FOREIGN_CLUSTER_NAME=foreign.cluster.name
export ML_FOREIGN_CERT_PATH=/path/to/cert/foreign.p12
export ML_FOREIGN_CERT_PASSWORD=Alakazam

